<h1>關於Local Friends</h1>
<p>對熱愛旅行的您而言，Local Friends致力於提供一個更便利、更有效的管道，幫助您找到最適合您的在地嚮導。</p>
<p>對熱愛分享的您而言，您可以利用本平台找到更多您能夠幫助的旅行者，分享你對在地的知識與經驗，創造雙方共同且美好的回憶。</p>
<p>Local Friends目前不對任何使用者收費，您可以安心地使用Local Friends的各項功能滿足您的需求，若您認同我們的想法，歡迎您分享Local Friends給朋友知道，我們將會非常感謝您:)</p>
