<h1>聯絡我們</h1>
<p>您可以用以下方式聯絡我們：</p>
<ul>
<li><a href="https://www.facebook.com/LocalFriendsTW">Facebook</a></li>
<li><a href="mailto:wayne.5540@gmail.com">e-mail</a></li>
<li><a href="http://goo.gl/OF3Gw">意見表</a></li>
</ul>
