<h1>Q&A</h1>
<h3>Q1:地陪是什麼意思？與導遊最大的差別是什麼？</h3>
<p><b>Ans1:</b>所謂「地陪」就是「在地的陪伴者」，也就是當地嚮導的意思，通常指對某一地區有較深刻情感或經驗，願意分享給旅者知道的人，相較於導遊可以提供更在地化的行程。</p>
<h3>Q2:在Local Friends找地陪需要費用嗎？</h3>
<p><b>Ans1:</b>Local Friends提供您找地陪的廣告，我們不會對您或地陪收取費用，但每位地陪都可自行為其提供的旅程訂價，建議您對行程的價位有不清楚的地方可以直接連絡該地陪討論。</p>
<h3>Q3:我想當地陪，有甚麼條件嗎？</h3>
<p><b>Ans1:</b>在Local Friends申請當地陪並不需要任何條件，但為了創造地陪與旅行者雙方共同的美好經驗，您必須是能夠信賴的人、並為您所提供的行程負責，以同理心將最好的一面呈現給旅行者。</p>
</br>
<h3>若以上問題無法解答您的疑惑，可以到<a href="http://goo.gl/OF3Gw" target="_blank">這裡</a>填寫您的疑問，我們會盡快回覆您，謝謝:)
</h3>