<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Local Friends</h1>

  <form action="demo_form.asp">
			找地陪？ <input type="search" name="find_friends" />
			<input type="submit" />
		</form>

  <%= link_to "當地陪!", signup_path, class: "btn btn-large btn-primary" %>
</div>
