<h1>Local Friends 權利宣告</h1>
<p>Local Friends致力於提供您更好的使用經驗，我們不會將您的資料轉作第三方用途，也會盡力保障您個人資料的安全性，但網路安全無法保證，因此我們並不承擔任何資料安全性的責任。此外，您也應注意您在本平台上或是以本平台為媒介的任何活動都屬於您的私人活動，本平台不對您的行為負任何責任，因此請您在使用時仍要注意自身安全以及誠信原則，以保障您的權利，謝謝。</p>
