// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.profile_photo{
	display: inline-block;
	height: 200px;
	width: 200px;
	float: left;
	text-align: center;
	img{
		height: 190px;
	}
}
.basic_info{
	float: left;
	max-width: 760px;
	padding-left: 10px;
	padding-right: 3px;
	word-break:break-all;
	h1{
		font-size: 3em;
  		text-align: left;
  		display: inline;
	}
}

.clear{
	clear: both;
}
.information{
	word-break:break-all;

	h2{
		text-align: left;
		margin-top: 15px;
		margin-bottom:15px;

	}
	textarea{
		height:250px;
	}

}
.form_text{
	height:250px;
}

#edit_profile{
	float: right;
	position: relative;
	margin-right: 15px;
}

.change_photo{
	height: 150px;
}

/* Users page */

.users{

}
.users_photo{
	display: inline-block;
	height: 150px;
	width: 150px;
	float: left;
	text-align: center;
	img{
		height:144px;
	}
}
.grapper{
	margin-top: 30px;
	overflow-y: auto;
	text-overflow:ellipsis;
	max-height: 380px;
	padding-top: 5px;
	-moz-box-shadow:0px 0px 2px #06C;
	-webkit-box-shadow:0px 0px 2px #06C ;
	box-shadow:0px 0px 2px #06C;
	@include border;
	&:hover{
		-moz-box-shadow:0px 0px 10px #06C;
		-webkit-box-shadow:0px 0px 10px #06C ;
		box-shadow:0px 0px 10px #06C;

	}
	img{
		padding-left: 3px;
		@include border;
	}
}

.div_button{
	p,span{
		color: #111111;
	}
}


/*non in use*/

.show_type{
	h1 {
	  font-size: 1.7em;
	  letter-spacing: 1px;
	  margin-bottom: 15px;
	  text-align: auto;
	}

	h2 {
	  font-size: 1.3em;
	  letter-spacing: 1px;
	  margin-bottom: 10px;
	  text-align: auto;
	  font-weight: bold;
	  color: #323232;
	}
}
#fb_share{
	margin-top: 60px;
	text-align: center;
}