<footer class="footer">
  <small>
    <a href="">Local Friends</a>
    by Wayne Chu & Tiffany Jheng
  </small>
  <nav>
    <ul>
      <li><%= link_to "關於Local Friends",   about_path %></li>
      <li><%= link_to "聯絡我們", contact_path %></li>
      <li><%= link_to "權利宣告", privacy_path %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>