<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Local Friends", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">          
          <li><%= link_to "Q&A",    help_path %></li>
          <li><%= link_to "問題回報",    report_path %></li>
          <li><%= link_to "登入", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>